doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="X-UA-COMPATIBLE" content="Edge")
        //base(href="/")
        title SuperTag
        //link(rel="styleSheet",href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css")
        //link(rel="styleSheet",href="css/superTag.css")
        //script(src="js/angular.min.js")
        //script(src="js/app.js")
        //script(src="js/directive.js")
        //script(src="js/filter.js")
        //script(src="js/services.js")
        //script(src="js/controller.js")
        //script(src="js/jquery.min.js")
        //script(src="js/bootstrap.min.js")
        //script(src="js/jquery.validator.min.js")
        //script(src="js/jquery.simplePagination.js")
    body(ng-controller="SuperTagListController")
        .container
            //添加stag模态框
            script#addStagModal(type="text/ng-template")
                .modal-content
                    .modal-header
                        button.close(type="button",ng-click="close()") &times;
                        h4.modal-title.col-md-offset-4.yzb-tagmodal-title#AddSuperTag Add SuperTag
                    .modal-body
                        form.form-horizontal(role="form",id="addTagForm",name="addTagForm",novalidate,ng-submit="addSuperTag(addData)")
                            .form-group
                                label.control-label.col-md-4.col-sm-4.col-xs-4 TagTitle:
                                textarea#addTagTitle(name="addTagTitle",required,ng-minlength=3,ng-maxlength=30,style="width:50%;",ng-model="addData.title",placeholder="请输入SuperTag信息....")
                                .error.yzb-error-message(ng-show="addTagForm.addTagTitle.$dirty&&addTagForm.addTagTitle.$invalid")
                                    small.error(ng-show="addTagForm.addTagTitle.$error.required") Title is required
                                    small.error(ng-show="addTagForm.addTagTitle.$error.minlength") Title length should than 3
                                    small.error(ng-show="addTagForm.addTagTitle.$error.maxlength") Title length should less 30
                            .form-group
                                label.control-label.col-md-4.col-sm-4.col-xs-4 Dg:
                                input.form-control(type="text",style="width:50%",ng-model="addData.Dg_id",placeholder="请输入Dg_id,可选项")
                            button.btn.btn-primary.right(type="submit",ng-disabled="addTagForm.$invalid",style="margin-left:35%;margin-right:8%;") Add
                            button.btn.btn-warning(type="reset",style="margin-right:8%;") Reset
                            button.btn.btn-default(type="button",ng-click="close()") Close
            //修改stag模态框
            script#getMyTag(type="text/ng-template")
                .modal-content
                    .modal-header
                        button.close(type="button",ng-click="close()") &times;
                        h4.modal-title.col-md-offset-4.yzb-tagmodal-title#GetSuperTag Update SuperTag
                    .modal-body
                        form.form-horizontal(role="form",name="updateTagForm",novalidate,ng-submit="updateTag(tagData)")
                            .form-group
                                label.control-label.col-md-4.col-sm-4.col-xs-4 TagTitle:
                                textarea#getTagTitle(data-ng-model="tagData.title",name="updateTagTitle",required,ng-minlength=3,ng-maxlength=30,style="width:50%;")
                                .error.yzb-error-message(ng-show="updateTagForm.updateTagTitle.$dirty&&addTagForm.addTagTitle.$invalid")
                                    small.error(ng-show="updateTagForm.updateTagTitle.$error.required") Title is required
                                    small.error(ng-show="updateTagForm.updateTagTitle.$error.minlength") Title length should than 3
                                    small.error(ng-show="updateTagForm.updateTagTitle.$error.maxlength") Title length should less 30
                            .form-group
                                label.control-label.col-md-4.col-sm-4.col-xs-4 Dot:
                                input.form-control#getTagDot(ng-model="tagData.Dot",type="text",style="width:50%;")
                            .form-group(role="group")
                                label.control-label.col-md-4.col-sm-4.col-xs-4 Status:
                                select.btn.btn-default(ng-model="tagData.status",style="width:50%")
                                    option(value=0,ng-if="tagData.status==0",selected="selected") 未启用
                                    option(value=1,ng-show="tagData.status==0") 已启用
                                    option(value=1,ng-if="tagData.status==1",selected="selected") 已启用
                                    option(value=0,ng-show="tagData.status==1") 未启用
                            button.btn.btn-primary(type="submit",ng-disabled="updateTagForm.$invalid",style="margin-left:25%;margin-right:10%;") Update
                            button.btn.btn-danger(type="button",style="margin-right:10%",ng-click="delTag(tagData)") Delete
                            button.btn.btn-default(type="button",ng-click="close()") Close
        .container-fluid
            .yzb-superTag-header
                h1.col-md-12.yzb-font-center(style="font-weight:bold;color:#ffffff;margin-top:7%;margin-bottom:5%;") SuperTag
            .navbar.navbar-default.navbar-fixed-top.yzb-tagNav-addTag
                button.yzb-add-tag-button(ng-click="showAddStagModal()")
                    span.yzb-add-tag-fontStyle Add
            .container
                .list-group#SuperTagList
                    .form-inline.yzb-searchStyle
                        //input.form-control(type="text",ng-model="searchTag",placeholder="Search Tags")
                        //select.form-control(ng-model="ObyStatus",ng-change="superTagStatusChange(ObyStatus)",style="width:10%;margin-left:2%;margin-bottom:-2%;")
                        //    option(value="") 所有状态
                        //    option(value=0) 未启用
                        //    option(value=1) 已启用

                    .list-group-item.col-md-12.yzb-list-top
                        label.col-md-1 序号
                        label.col-md-5.yzb-font-center 标题
                        label.col-md-3.yzb-font-center Tag状态
                        label.col-md-3.yzb-font-center 操作
                    .container-fluid
                        page-Directive
                            .list-group-item.col-md-12.yzb-listItem(ng-repeat="supertag in supertags")
                                label.col-md-1
                                    a(href="#/superTag",ng-click="getSuperTags(supertag)") {{$index+1}}
                                label.col-md-6
                                    a(href="#/superTag",ng-model="tagData.title",ng-click="getSuperTags(supertag)") {{supertag.title}}
                                label.col-md-3
                                    span(ng-model="tagData.status",ng-show="supertag.status==0",style="padding-left:2%") 未启用
                                    span(ng-model="tagData.status",ng-show="supertag.status==1",style="padding-left:2%") 已启用
                                label.col-md-2
                                    a.col-md-5(href="",data-toggle="modal",data-target="#getMyTag",ng-click="getSuperTags(supertag)") 修改
                                    a(href="javascript:void(0)",ng-click="delTag(supertag)") 删除
                            form.form-inline.pull-right(style="margin-left:2%;margin-top:1%;",ng-submit="onLoadPage(changeCurrent-1)")
                                ul.pagination.pagination-lg
                                    li.form-group
                                        label 第
                                        input.form-control(type="text",required,number,style="width:50px;",ng-model="changeCurrent")
                                        label 页
                                    button.btn.btn-default(type="submit") GO
                            form.form-inline.pull-left
                                ul.pagination.pagination-lg
                                    li.form-group
                                        label 共
                                        .form-control {{totalPage}}
                                        label 页
                                    li.form-group
                                        .form-control {{count}}
                                        label 条
                            ul.pull-right.pagination.pagination-lg#page(ng-show="totalPage>=1",total-page="totalPage",page-size="pageSize",current-page="currentPage",on-load-page="onLoadPage(page)")
                                li(ng-class="{true:'active'}[currentPage==0]")
                                    a(aria-label="Previous",href="",ng-click="currentPage==1;onLoadPage(0)")
                                        span(aria-hidden="true") begin
                                li(ng-class="{true:'disabled',false:''}[currentPage==0]")
                                    a(aria-label="Previous",href="",ng-click="prev()")
                                        span(aria-hidden="true") &laquo;
                                li(ng-class="{true:'active',false:''}[currentPage==0]")
                                    a(href="",ng-click="onLoadPage(0)") 1
                                li(ng-show="middlePage>4&&totalPage>7")
                                    a(href="",ng-click="lastMiddlePage()") ...
                                li(ng-repeat="page in pages",ng-show="totalPage>2",ng-class="{true:'active',false:''}[currentPage==page+1]")
                                    a(href="",ng-click="onLoadPage(page+1)") {{page+2}}
                                li(ng-show="totalPage>7&&middlePage<totalPage-5")
                                    a(href="",ng-click="nextMiddlePage()") ...
                                li(ng-class="{true:'active',false:''}[currentPage==totalPage-1]",ng-show="totalPage>1")
                                    a(href="",ng-click="onLoadPage(totalPage-1)") {{totalPage}}
                                li(ng-class="{true:'disabled',false:''}[currentPage==totalPage-1]")
                                    a(aria-label="Previous",href="",ng-click="next()")
                                        span(aria-hidden="true") &raquo;
                                li(ng-class="{true:'active'}[currentPage==totalPage-1]")
                                    a(aria-label="Previous",href="",ng-click="currentPage==totalPage-1;onLoadPage(totalPage-1)")
                                        span(aria-hidden="true") end
            .navbar.navbar-fixed-top.navbar-default.yzb-cebian-right
                ul.nav.navbar-nav.yzb-cebian-right-ul
                    li
                        button.btn.btn-default(type="button",ng-click="AppScanning()",style="margin-right:1%;margin-bottom:2%") AppScanning
                    li
                        button.btn.btn-warning(type="button",ng-click="localVideo()",style="margin-right:1%;margin-bottom:2%") localVideo
                    li
                        button.btn.btn-danger(type="button",ng-click="RecommendSeries()",style="margin-right:1%;margin-bottom:2%") Recommend
                    li
                        button.btn.btn-primary(type="button",ng-click="superTag()",style="margin-right:1%;margin-bottom:2%") SuperTag




